.TodoInsert {
    display: flex;
    margin-bottom: 1rem;
  
    input {
      flex: 1;
      border: none;
      outline: none;
      font-size: 1rem;
      padding: 0.5rem;
      margin-right: 1rem;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    button {
      background: #0078d4;
      color: white;
      border: none;
      outline: none;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background 0.1s ease-in;
  
      &:hover {
        background: #005bb5;
      }
    }
  }
  